*{
    margin: 0;
    padding: 0;
    font-family: 'Andada', serif;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background: #0572AA;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    height: 20px;
    background: #d0eefd;
    -webkit-box-shadow: inset 0 5px 8px white; 
}

.header{
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 50;
    transition: all 0.5s;
}

header.active{
    position: fixed;
    width: 100%;
    background-color: #d0eefd;
    z-index: 50;
    transition: all 0.5s;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 5rem;
}

#mobileNav{
    display: none;
    z-index: 30;
    width: 100%;
    height: 100vh;
}

#controlIcons{
    display: none;
}

#topLogo{
    font-family: 'Galada', cursive;
    font-size: 1.5rem;
    text-align: center;
}

.topbarItems{
    margin: 0 0.9rem;
    font-size: 0.9rem;
}

.topbarItems:hover{
    text-decoration: underline;
    color: #03032e;
    cursor: pointer;
}




/* SIGN IN MODAL */
#loginModal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    background-color: rgba(99, 186, 230, 0.9);
    display: grid;
    place-items: center;
}

#modal{
    width: 50%;
    min-height: 70%;
    max-height: 100vh;
    padding: 2.5rem 1rem 1rem 1rem;
    box-sizing: border-box;
    background-color: #c5e5f5;
    box-shadow: 0 0 5px #0a0808;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#modal h1, #modal p{
    align-self: start;
    margin: 0 0 1rem 10%;
}

#socLogins{
    width: 80%;
    align-self: start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 0 10%;
}



/* GOOGLE LOGIN BUTTON */
#customBtn {
    display: inline-block;
    background: #1877F2;
    color: white;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 1px grey;
    white-space: nowrap;
}

  #customBtn:hover {
    cursor: pointer;
  }
  span.icon {
    background: url('https://developers.google.com/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 40px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 16px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }



#loginChoice{
    padding-top: 20px;
}


#modal p:nth-child(5){
    align-self: center;
    margin-left: 0;
}

#loginform{
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

#modalLinks{
    color: #1640f7;
}

#loginform input{
    padding: 20px 10px;
    border-radius: 3px;
    border: none;
    margin: 5px 0 15px 0;
}

#loginform label{
    font-size: 13px;
}

#closemodal{
    position: absolute;
    top: 10px;
    right: 10px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    transition: 0.1s;
}

#closemodal:hover{
    transform: rotate(180deg);
}

#loginButton:hover{
    cursor: not-allowed;
}






/* SECTION 1 */

#sectionI{
    width: 100%;
    height: 100vh;
    background-image: url(bg.png);
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#headingI{
    line-height: 2.5rem;
}

#headingII{
    font-weight: 600;
    margin: 1.8rem 0;
    color: rgba(0,0,0,0.7);
}

#buttonDivI{
    position: relative;
}

#arrowRight{
    position: absolute;
    top: 52%;
    transform: translateY(-50%);
    right: 14px;
    color: white;
    animation: move 1s infinite;
}

@keyframes move{
    0%{

    }
    100%{
        right: 17px;
    }
}

#buttonI{
    font-weight: 600;
    padding: 0.8rem 1.8rem;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    border: 2px solid rgba(0,0,0,0.7);
    border-radius: 4px;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.3);
}





/* FOOTER */
footer{
    width: 100%;
    height: 50vh;
    padding: 2rem 5rem;
    box-sizing: border-box;
    background-color: #03032e;
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3f3fa833;
    border-radius: 1.5rem 0 1.5rem 0;
    padding: 1rem 1rem;
    text-align: left;
    color: white;
}

#endNote{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 3.8rem 2.2rem 0 2.2rem;
}

.footerDiv{
    line-height: 1.6rem;
}

.footerDiv h3{
    margin-bottom: 0.6rem;
}



/* MOBILE VERSION */

@media (max-width:600px){
    
    nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 1.5rem;
    }

    #topLogo{
        text-align: center;
    }

    .topbarItems{
        display: none;
    }

    #mobileNav{
        display: none;
        font-size: 25px;
        line-height: 60px;
        margin-top: 10%;
        margin-left: 1.5rem;
    }
    

    

    /* CREATE THE ANIMATED HAMBURGER */
    #iconLogoDiv{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    #controlIcons{
        display: block;
        position: relative;
    }

    #hamburger{
        visibility: hidden;
    }

    label,label::before,label::after{
        position: absolute;
        width: 30px;
        height: 2px;
        border-radius: 10px;
        background-color: #000000;
        transition: 0.6s;
        -webkit-transition: 0.6s;
    }

    label{
        cursor: pointer;
        width: 35px;
        height: 3px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    label::before{
        content: '';
        transform: translateY(-8px);
        -webkit-transform: translateY(-8px);
    }

    label::after{
        content: '';
        transform: translateY(8px);
        -webkit-transform: translateY(8px);
    }

    #hamburger:checked + label{
        height: 0;
        transform: translateX(0px);
    }

    #hamburger:checked + label::before{
        transform: rotate(45deg) translate(0px);
        -webkit-transform: rotate(45deg) translate(0px);
    }

    #hamburger:checked + label::after{
        transform: rotate(-45deg) translate(0px);
        -webkit-transform: rotate(-45deg) translate(0px);
    }




    /* FOOTER */
    footer{
        height: auto;
        padding: 2rem 2rem;
        background-color: #13133f;
        text-align: center;
    }
    
    #footer{
        flex-direction: column;
        align-items: center;
        background-color: #03032e;
        text-align: center;
    }
    
    #endNote{
        display: flex;
        flex-direction: column;
    }

    #endNote p{
        padding: 0.5rem;
    }

    .footerDiv{
        margin-bottom: 40px;
    }

    .footerDiv h3{
        margin-bottom: 0.6rem;
    }
}